In [10]:
arr = list(range(1, 21))
arr[-1], arr[-2], arr[-3], arr[-4], arr[-5], arr[-6] = arr[-6], arr[-5], arr[-4], arr[-3], arr[-2], arr[-1]
v = sum(p * i for i, p in enumerate(arr, start = 1))
u = max(p * i for i, p in enumerate(arr, start = 1))
print(v - u)

2529

In [7]:
v - u + 18

303

In [11]:
500*500*500

125000000

In [1]:
x = 1/4 + 2/4 + 4/4 + 8/4
y = 5/2 + 9/2
x, y

(3.75, 7.0)

In [2]:
2*x + y

14.5

In [4]:
14.5*200

2900.0

In [18]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
  def productionalization(group):
    # dataframe
    num_unique = group.agg({"product": "nunique"})[0]
    products = ",".join(sorted(set(group["product"])))
    return pd.Series({"num_sold": num_unique, "products": products})
  df = (
    activities
    .groupby("sell_date", sort = False)
    .apply(lambda row: productionalization(row))
    .reset_index()
    # .rename(columns = {"product": "products"})

    # .agg({"product": "nunique"})
    # .rename(columns = {"product": "num_sold"})
  )
  return df

categorize_products(pd.DataFrame(
  [{"sell_date": "2023-08-01", "product": "a"}, {"sell_date": "2023-08-01", "product": "b"}, 
   {"sell_date": "2023-08-02", "product": "a"}, {"sell_date": "2023-08-02", "product": "c"}]))

2
2

    sell_date  num_sold products
0  2023-08-01         2      a,b
1  2023-08-02         2      a,c

In [1]:
i = 16
for j in range(i, 10_000, i):
    print(j)

16
32
48
64
80
96
112
128
144
160
176
192
208
224
240
256
272
288
304
320
336
352
368
384
400
416
432
448
464
480
496
512
528
544
560
576
592
608
624
640
656
672
688
704
720
736
752
768
784
800
816
832
848
864
880
896
912
928
944
960
976
992
1008
1024
1040
1056
1072
1088
1104
1120
1136
1152
1168
1184
1200
1216
1232
1248
1264
1280
1296
1312
1328
1344
1360
1376
1392
1408
1424
1440
1456
1472
1488
1504
1520
1536
1552
1568
1584
1600
1616
1632
1648
1664
1680
1696
1712
1728
1744
1760
1776
1792
1808
1824
1840
1856
1872
1888
1904
1920
1936
1952
1968
1984
2000
2016
2032
2048
2064
2080
2096
2112
2128
2144
2160
2176
2192
2208
2224
2240
2256
2272
2288
2304
2320
2336
2352
2368
2384
2400
2416
2432
2448
2464
2480
2496
2512
2528
2544
2560
2576
2592
2608
2624
2640
2656
2672
2688
2704
2720
2736
2752
2768
2784
2800
2816
2832
2848
2864
2880
2896
2912
2928
2944
2960
2976
2992
3008
3024
3040
3056
3072
3088
3104
3120
3136
3152
3168
3184
3200
3216
3232
3248
3264
3280
3296
3312
3328
3344
3360
3376
3392
3408
3424
3440
3456
3472
3488
3504
3520
3536
3552
3568
3584
3600
3616
3632
3648
3664
3680
3696
3712
3728
3744
3760
3776
3792
3808
3824
3840
3856
3872
3888
3904
3920
3936
3952
3968
3984
4000
4016
4032
4048
4064
4080
4096
4112
4128
4144
4160
4176
4192
4208
4224
4240
4256
4272
4288
4304
4320
4336
4352
4368
4384
4400
4416
4432
4448
4464
4480
4496
4512
4528
4544
4560
4576
4592
4608
4624
4640
4656
4672
4688
4704
4720
4736
4752
4768
4784
4800
4816
4832
4848
4864
4880
4896
4912
4928
4944
4960
4976
4992
5008
5024
5040
5056
5072
5088
5104
5120
5136
5152
5168
5184
5200
5216
5232
5248
5264
5280
5296
5312
5328
5344
5360
5376
5392
5408
5424
5440
5456
5472
5488
5504
5520
5536
5552
5568
5584
5600
5616
5632
5648
5664
5680
5696
5712
5728
5744
5760
5776
5792
5808
5824
5840
5856
5872
5888
5904
5920
5936
5952
5968
5984
6000
6016
6032
6048
6064
6080
6096
6112
6128
6144
6160
6176
6192
6208
6224
6240
6256
6272
6288
6304
6320
6336
6352
6368
6384
6400
6416
6432
6448
6464
6480
6496
6512
6528
6544
6560
6576
6592
6608
6624
6640
6656
6672
6688
6704
6720
6736
6752
6768
6784
6800
6816
6832
6848
6864
6880
6896
6912
6928
6944
6960
6976
6992
7008
7024
7040
7056
7072
7088
7104
7120
7136
7152
7168
7184
7200
7216
7232
7248
7264
7280
7296
7312
7328
7344
7360
7376
7392
7408
7424
7440
7456
7472
7488
7504
7520
7536
7552
7568
7584
7600
7616
7632
7648
7664
7680
7696
7712
7728
7744
7760
7776
7792
7808
7824
7840
7856
7872
7888
7904
7920
7936
7952
7968
7984
8000
8016
8032
8048
8064
8080
8096
8112
8128
8144
8160
8176
8192
8208
8224
8240
8256
8272
8288
8304
8320
8336
8352
8368
8384
8400
8416
8432
8448
8464
8480
8496
8512
8528
8544
8560
8576
8592
8608
8624
8640
8656
8672
8688
8704
8720
8736
8752
8768
8784
8800
8816
8832
8848
8864
8880
8896
8912
8928
8944
8960
8976
8992
9008
9024
9040
9056
9072
9088
9104
9120
9136
9152
9168
9184
9200
9216
9232
9248
9264
9280
9296
9312
9328
9344
9360
9376
9392
9408
9424
9440
9456
9472
9488
9504
9520
9536
9552
9568
9584
9600
9616
9632
9648
9664
9680
9696
9712
9728
9744
9760
9776
9792
9808
9824
9840
9856
9872
9888
9904
9920
9936
9952
9968
9984

In [19]:
x = 494_265
base = 26
vals = []
while x > 0:
    x -= 1
    cur = x % base
    vals.append(cur)
    x //= base
    print(x)
print(vals)

19010
731
28
1
0
[4, 3, 2, 1, 0]

In [22]:
x = 701
base = 26
vals = []
while x > 0:
    x -= 1
    cur = x % base
    vals.append(cur)
    x //= base
    print(x)
print(vals)

26
0
[24, 25]

In [23]:
700//26

26

In [27]:
import math
math.log(2**31 - 1, 26)

6.595127660011333

In [2]:
import math
print(math.comb(27, 2))

351

In [1]:
import math 
math.factorial(10)

3628800

In [11]:
print(f"{4**64:,}")

340,282,366,920,938,463,463,374,607,431,768,211,456

In [18]:
n = 14
def divisors(v):
    yield 1
    for i in range(2, int(math.sqrt(v)) + 1):
        if v % i == 0:
            yield i
            yield v // i
print(list(divisors(n)))
thres = 1_000_000_000
mx = 0
for i in range(thres - 2000, thres + 1):
    # print('i', i, 'num unique divisors', len(set(divisors(i))))
    mx = max(mx, len(set(divisors(i))))
print(mx)

[1, 2, 7]
1023

In [19]:
2**5

32

In [22]:
bin(12)

'0b1100'

In [27]:
bin(32)[2:][::-1].index("1")

5

In [6]:
print(f"{2**34:,}")

17,179,869,184

In [32]:
2**34 > 10**10

True

In [1]:
import math
math.factorial(15)

1307674368000

In [3]:
f = lambda x: (x - 1) * x // 2
f(16)

120

In [4]:
dp = [0] * 9
dp[0] = 1
for i in range(1, 9):
    dp[i] = (2 * i - 1) * dp[i - 1]
print(dp)

[1, 1, 3, 15, 105, 945, 10395, 135135, 2027025]

In [8]:
for i in range(1, 27):
    print("i", i, math.comb(26, i))

i 1 26
i 2 325
i 3 2600
i 4 14950
i 5 65780
i 6 230230
i 7 657800
i 8 1562275
i 9 3124550
i 10 5311735
i 11 7726160
i 12 9657700
i 13 10400600
i 14 9657700
i 15 7726160
i 16 5311735
i 17 3124550
i 18 1562275
i 19 657800
i 20 230230
i 21 65780
i 22 14950
i 23 2600
i 24 325
i 25 26
i 26 1

In [12]:
import string
s = string.ascii_lowercase
from itertools import combinations
len(list(combinations(s, 13)))

10400600

In [13]:
2**26

67108864

In [1]:
x = 10_000
import math
math.log(x, 2)

13.28771237954945