In [10]:
arr = list(range(1, 21))
arr[-1], arr[-2], arr[-3], arr[-4], arr[-5], arr[-6] = arr[-6], arr[-5], arr[-4], arr[-3], arr[-2], arr[-1]
v = sum(p * i for i, p in enumerate(arr, start = 1))
u = max(p * i for i, p in enumerate(arr, start = 1))
print(v - u)

2529

In [7]:
v - u + 18

303

In [11]:
500*500*500

125000000

In [1]:
x = 1/4 + 2/4 + 4/4 + 8/4
y = 5/2 + 9/2
x, y

(3.75, 7.0)

In [2]:
2*x + y

14.5

In [4]:
14.5*200

2900.0

In [18]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
  def productionalization(group):
    # dataframe
    num_unique = group.agg({"product": "nunique"})[0]
    products = ",".join(sorted(set(group["product"])))
    return pd.Series({"num_sold": num_unique, "products": products})
  df = (
    activities
    .groupby("sell_date", sort = False)
    .apply(lambda row: productionalization(row))
    .reset_index()
    # .rename(columns = {"product": "products"})

    # .agg({"product": "nunique"})
    # .rename(columns = {"product": "num_sold"})
  )
  return df

categorize_products(pd.DataFrame(
  [{"sell_date": "2023-08-01", "product": "a"}, {"sell_date": "2023-08-01", "product": "b"}, 
   {"sell_date": "2023-08-02", "product": "a"}, {"sell_date": "2023-08-02", "product": "c"}]))

2
2

    sell_date  num_sold products
0  2023-08-01         2      a,b
1  2023-08-02         2      a,c